#[rewrite_local]
# 处理所有 http://113.31.117.75:9627/datum/tool/matchHead/* 请求

^http://113\.31\.117\.75:9627/datum/tool/matchHead/.*$ url script-response-body https://raw.githubusercontent.com/Bennie-CHEN/LTSP/main/LTS.js

#[mitm]
# 需要捕获的域名

hostname = 113.31.117.75

